/* Colors

Primary: rgb(29, 53, 87)
Primary-Lighter: rgb(69, 123, 157)
Secondary: rgb(168, 218, 220)
Secondary-Darker: rgb(95, 188, 191)
Tertiary: rgb(241, 250, 238)

*/

/* General CSS */

body, html {
  background-color: rgb(241, 250, 238);
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1 0 auto;
}

.no-padding {
  padding: 0 !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-top-30 {
  margin-top: 30px !important;
}
.margin-bottom-30 {
  margin-bottom: 30px !important;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: Avenir;
  src: url("fonts/AvenirLTStd-Book.otf") format("opentype");
}
* {
  font-family:  Avenir, Arial,"Times New Roman", helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  color: rgb(29, 53, 87);
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.7em;
  margin: 10px 0;
}

h4 {
  font-size: 1.525em;
}

h5 {
  font-size: 1.225em;
  margin: 5px 0;
}

h6 {
    font-size: 1.1em;
}

a {
  color: rgb(29, 53, 87);
}

ul {
  list-style: none;
}
ul li {
  margin: 4px 0;
}

.fpContainer {
  padding: 15px;
  margin: auto;
  max-width: 1336px;
  min-width: 1336px;
}
.fpContainer:last-child {
  padding-bottom: 30px;
}

#fpNavBar {
  display:flex;
}

#fpNavBar ul {
  display:flex;
  list-style:none;
  margin: 0;
  margin-left: auto;
}

#fpNavBar ul li {
  margin: 0 !important;
  padding: 5px;
  border: 1px 1px 0 1px solid rgb(29, 53, 87);
  border-radius: 8px 8px 0 0;
  background-color: rgb(168, 218, 220);
  list-style: none;
  text-align: center;
  font-weight: 600;
  width: 205px;
}

#fpNavBar ul li a {
  text-decoration: none;
}

#fpNavBar ul li.fpActive {
  background-color: rgb(95, 188, 191);
  color: rgb(241, 250, 238);
}

#fpHeaderContainer {
  width: 100%;
  background-color: rgb(95, 188, 191);
}

#fpHeaderContainer .fpContainer {
  display: grid;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}

#fpLogo {
  position: absolute;
  left: 15px;
  top: -7px;
  border-radius: none !important;
  box-shadow: none !important;
}

#fpHeaderContainer .fpContainer h1 {
  color: rgb(241, 250, 238);
}

.fpCard {
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.08), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
}

img {
  border-radius: 6px;
  box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.08), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
}

/* Index CSS */
#fpIntro {
  text-align: center;
}

#fpEventArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 
    'events deals';
  grid-template-rows: auto auto;
  column-gap: 30px;
}

#fpEventArea img:first-child {
  margin-bottom: 4px;
}
#fpEventArea img:nth-child(n+1) {
  margin-bottom: 4px;
}
#fpEventArea img:last-child {
  margin-bottom: 0 !important;
}

#fpParkEvents { 
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: 
    'eventsTitle eventsTitle'
    'eventsImages eventsList'
    'eventsImages eventsList'
    'eventsImages eventsList'
    'eventsImages eventsList';
}
#fpParkEventsTitle { 
  text-align: center;
  grid-area: eventsTitle; 
}
#fpParkEventsList { 
  grid-area: eventsList;
  display: grid; 
}
#fpParkEventsList h3 {
  margin-top: 32px;
}
#fpParkEventsImages { 
  grid-area: eventsImages;
  display: grid; 
}
#fpParkEventsImages img{
  width: 125px;
  height: auto;
  box-shadow: none;
  margin: 10px auto;
}
#fpDealsImages img{
  width: 330px;
  height: auto;
  margin: auto;
  box-shadow: none;
}
#fpDeals { 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    'dealsTitle'
    'dealsImages'
    'dealsList';
}
#fpDealsTitle { 
  text-align: center;
  grid-area: dealsTitle; 
}
#fpDealsList { 
  grid-area: dealsList; 
}
#fpDealsImages { 
  grid-area: dealsImages;
  display: grid;
}

#fpBannerContainer h2 {
  text-align: center;
}

/* TODO: 500px is a bit too much. Need better stock images. */
#fpParksBanner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 500px; 
}

#fpParksBanner img {
  position: absolute;
  animation: slideshow 15s infinite;
  opacity: 0;
  width: 100%;
  height: auto;
  box-shadow: none;
  height: 100%;
}

@keyframes slideshow {
  25%{opacity:1;} 
  40%{opacity:0;}
}
#fpParksBanner img:nth-child(3){ animation-delay:0s; }
#fpParksBanner img:nth-child(2){ animation-delay:5s; }
#fpParksBanner img:nth-child(1){ animation-delay:10s; }

/* Attractions CSS */
#fpAttractionsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}
#fpAttractionsContainer img {
  width: 100%;
}
#fpAttractionsContainer .fpCard img {
  height: 250px;
  width: 100%;
}
#fpAttractionsContainer .fpCard p {
  justify-content: center;
}

#fpFacilitiesContainer .fpCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
}
#fpFacilitiesContainer img {
  width: 100%;
}

.fpFacilitiesTitle { grid-area: 1 / 1 / 2 / 2; }
.fpFacilitiesDescription { 
  grid-area: 2 / 1 / 4 / 3; 
  padding-right: 10px;
}
.fpFacilitiesImage { grid-area: 1 / 3 / 4 / 5; }

/* Theatre CSS */
#fpTheatreShowingsContainer {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 0.3fr 1.7fr;
}
#fpTheatreShowingsTitle { grid-area: 1 / 1 / 1 / 4; }
#fpTheatreShowingsDescription { grid-area: 2 / 1 / 2 / 3; }
#fpTheatreShowingsImages { grid-area: 2 / 3 / 2 / 4;}
#fpTheatreShowingsContainer h2 { 
  text-align: center;
}
#fpTheatreShowingsContainer img {
  width: 100%;
}
#fpTheatreShowingsDescription {
  padding-right: 10px;
}

#fpBookingsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  column-gap: 30px;
}

#fpBookingsContainer > div {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 0.3fr 1.7fr;
  gap: 0px 0px;
}

#fpBookingsContainer h2 {
  text-align: center;
}

.fpHotelTitle { grid-area: 1 / 1 / 1 / 4; }
.fpHotelPrices { grid-area: 2 / 1 / 2 / 3; }
.fpHotelCalendar { grid-area: 2 / 3 / 2 / 4; }
.fpBookingsTitle { grid-area: 1 / 1 / 1 / 4; }
.fpBookingsPrices { grid-area: 2 / 1 / 2 / 3; }
.fpBookingsCalendar { grid-area: 2 / 3 / 2 / 4; }


/* Calendar */
.fpCalendar {
  max-width: max-content;
  background-color: #fff;
  border-radius: 8px;
  margin: auto;
}

.fpCalendarMonth {
  text-align: center;
  font-weight: 500;
}

.fpCalendarDOW,
.fpCalendarDOM {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.fpCalendarDOW {
  margin-top: 1.25em;
}

.fpCalendarDOW {
  text-align: center;
}

.fpCalendarDOM span:first-child {
  grid-column: 3;
}

.fpCalendarDOM span {
  position: relative;
  padding: 7px;
}

.fpCalendarDOM {
  text-align: center;
}

/* Footer */
#fpFooterContainer {
  background-color: rgb(95, 188, 191);
  flex-shrink: 0;
  height: auto;
  color: rgb(241, 250, 238);
  text-align: center;
}

#fpFooterContainer h1, 
#fpFooterContainer h2, 
#fpFooterContainer h3, 
#fpFooterContainer h4, 
#fpFooterContainer h5, 
#fpFooterContainer h6 {
  font-weight: bolder;
  color: rgb(241, 250, 238);
}

#fpFooterContainer img {
  border-radius: none !important;
  box-shadow: none !important;
}

#fpFooterLinks ul {
  width: 33%;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  list-style: none;
  text-align: left;
}
#fpFooterLinks ul li {
  padding-left: 33%;
}

#fpSocialMedia {
  text-align: center;
}
#fpSocialMedia img {
  width: 45px;
  cursor: pointer;
}
#fpSocialMedia img {
  margin-left: 10px;
}
#fpSocialMedia img:first-child {
  margin-left: 0;
}

#fpPrivacyPolicy {
  text-align: right;
}

.popup {
  text-align: center;
  position: fixed;
  padding: 10px;
  max-width: 100%;
  top: 50%;
  left: 50%;
  color: #000 !important;
  transform: translate(-50%, -50%);
  background-color: rgb(168, 218, 220);
  border: 1px white;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  display: block !important;
  transition: visibility 0s linear 300ms, opacity 300ms;
  z-index: 1;
}
.popup p {
  text-align: justify;
}

.popup:target {
  transition: visibility 0s linear 300ms, opacity 300ms;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.popup .close {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: px;
  color: #000;
  transition: color .3s;
  font-size: 2em;
  line-height: 1.5;
  font-weight: bold;
}
.popup .close:hover {
  color: black;
}

/* Separator */
.fpSeparator {
  background: linear-gradient(
    to right, 
    rgba(255,255,255,0) 0%, 
    #efefef 5%, 
    #efefef 95%, 
    rgba(255,255,255,0) 100%
  );
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
  margin: 15px 0;
}

/* Sales Banner */
#fpSalesBanner {
  text-align: center;
}
#fpSalesBanner img {
  width: 100%;
  box-shadow: none !important;
  border-radius: 0 !important;
}